:root {
    --ams-blue: #093c7d;
    --ams-background: #ebf5fc;
}

#wrapper {
    background-color: var(--ams-background);
}

#page-logo {
    width: 70px;
    height: auto;
}

#search-button-wrap {
    display: flex;
}

#suche_senden, #verkaufen {
    width: 100%;
    align-self: flex-end;
}

i {
    text-align: center;
    width: 1.2em;
}
.cr-list{
	list-style:none;
	width:50%;
}
.cr-gewichtung{
	width:10%;
}
.criterion {
    font-weight: bold;
    font-size: 1.3em;
}
.subcriterion {
    font-style: italic;
    font-size: 1.2em;
}