/* Author: Oliver Stingl */

/* Variables */
:root {
    --ams-blue: #093c7d;
    --ams-background: #ebf5fc;
}

/* HTML-Tags */
body {color: #3a3a3a}


/* Styling for ids */
#wrapper {background-color: var(--ams-background);}
#page-logo {width: 70px; height: auto;}
#no-style {list-style: none;}
table#overview th {min-width: 10em}

/* Styling for classes */
.fa, .fas { text-align: center; width: 1.2em;}
.form-button-wrap {display: flex;}
.form-button {width: 100%; align-self: flex-end;}
.cr-list {list-style:none; width:50%;}
.cr-gewichtung {width:10%;}
.criterion {font-weight: bold; font-size: 1.3em;}
.subcriterion {font-style: italic; font-size: 1.2em;}
.buttonrow {text-align: center;}
.rrtable th, .rrtable td {padding: 0;}
.checkbox-table {max-width: 1em;}
.card-landing {margin-bottom: 1em; min-height: 13em;}
.card-landing:hover {
    -webkit-box-shadow: 10px 10px 26px -8px rgba(9,59,125,1);
    -moz-box-shadow: 10px 10px 26px -8px rgba(9,59,125,1);
    box-shadow: 10px 10px 26px -8px rgba(9,59,125,1);
}
.form-control-critera {
    display: inline;
    max-width: 4em;
}